body{
    margin: 0;
    padding:0;
    background-color: rgba(0, 0, 0, 0.521);
}
section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.wave {
    width: 100%;
    height: 100px;
    background-image: url('../img/wave.svg');
    position: absolute;
    bottom: 10%;
    left: 0;
    background-size: 2000px 100px;
}

.wave1 {
    animation: anim 30s ease infinite;
    z-index: 100;
    bottom:7%;
}
.wave2 {
    animation: anim 60s ease infinite;
    opacity: .1;
    z-index: 1000;
    
}
.wave3 {
    animation: anim2 20s ease infinite;
    opacity: .5;
}
.wave4 {
    animation: anim2 450s ease infinite;
    opacity: .8;
}



@keyframes anim {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: 2000px;
    }
   
}
@keyframes anim2 {
    0% {
        background-position: 500px;
    }
    100% {
        background-position: 2000px;
    }
}

@keyframes fadeInUp {
	from {
			transform:translate3d(0,100%,0);
			opacity:0;
	}
	100% {
			transform:none;
			opacity:1;
	}
}
.fadeInUp {
	animation-name:fadeInUp;
}

@keyframes fadeInLeft {
	from {
			transform:translate3d(-100%,0,0);
			opacity:0;
	}
	100% {
			transform:none;
			opacity:1;
	}
}
.fadeInLeft {
	animation-name:fadeInLeft;
}

@keyframes fadeInLeft1 {
	from {
			transform:translate3d(-100%,0,0);
			opacity:0;
	}
	100% {
			transform:none;
			opacity:1;
	}
}
.fadeInLeft1 {
	animation-name:fadeInLeft1;
}


  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

@keyframes fadeInDown {
	from {
			transform:translate3d(0,-100%,0);
			opacity:0;
	}
	100% {
			transform:none;
			opacity:1;
	}
}
.fadeInDown {
	animation-name:fadeInDown;
}
/* @keyframes pulsate {
	0% {
			transform:scale(.01,.01);
			opacity:0;
	}
	50% {
			opacity:1;
	}
	100% {
			transform:scale(2.0,2.0);
			opacity: 0;
	}
} */

/* .pulsate{
    animation-name: pulsate;
} */
/* .pulsate {
    transition: text-shadow 1s linear 0s
}

.pulsate.glow {
    text-shadow: #fff 0 0 20px
} */