img {
    -webkit-user-select: none; Safari;
    -moz-user-select: none; Firefox;
    -ms-user-select: none; IE10+/Edge;
    user-select: none; Standard syntax;
} 
 /* img {
    pointer-events: none;
  } */

a{
    color:white;
    text-decoration: none !important;
}
p{
    text-decoration: none !important;
    width: auto;
}
#link1{
    margin-left: -1%;
}
#link2{
    margin-left: 1%;

}
#link4{
    margin-left: 1%;
}
#link3{
    margin-left: -1%;
}
.downloadLinkClass{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float:left;
    margin:auto;
}
#text{
    width:80%;
    height:70%;
    justify-content: center;
    align-items: center;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "a b"
    "c d";

}
#close{
    width:50px;
    height:50px;
    position: absolute;
    top: -10%;
    right: 0%;
    z-index: 112;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content{
    width:85%;
    position: absolute;
    z-index: 111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#frame{
    width: 100%;
    height: 100%;
    z-index: 110;
    display: block;
}
#whiteSpace{
    width:50%;
    height:50%;
    position: absolute;
    top: 30%;
    left: 23%;
    z-index: 111;
    display: flex;
    justify-content: center;
    align-items: center;
}
#fade{
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.751);
    z-index: 111;
    display: none;
}
#head{

    background-color: #282626;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: left;
    font-size: 15px;
    color: #ffffff;
    font-family: 'Constantia', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    background: linear-gradient(-135deg,rgb(40,38,38) 25%,rgb(0, 0, 0) 100%);
}
#logo{
    margin-top: 15%;
    margin-left: 50px;
    margin-right: 50px;
    z-index: 12;
    height: 50px;
    width: 50px;
    float:left;
    
}
#abt{
    margin-left: 100px;
}

#creat{
    width: 170px;
}
#body{
    background-color: #282626;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    z-index:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Constantia', sans-serif;
    font-weight: 300;

    letter-spacing: 2px;
    background: linear-gradient(-135deg,rgb(40,38,38) 25%,rgb(0, 0, 0) 100%);
    /* background-size: cover; */
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
}
body{
    margin: 0;
    overflow-y:hidden;
}
#CenterZone{
    margin-top: -9%;
    z-index: 12;
    height: 60%;
    width: 80%;
}
#leftText{
    z-index: 12;
    height: 100%;
    width: 70%;
    justify-content: left;
    flex-direction: column;
    float:left;

    animation:fadeInUp 1s ease-in-out;
}
#rightText{
    z-index: 12;
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    float:left;

    animation:fadeInLeft 1s ease-in-out;
}
#logoBig{
    z-index: 12;
    width: 130%;
    margin-top: -10%;
    margin-left: -20%;
    /* margin-right: 200px; */
    float:right;
}
#logo_bg{
    
    display:none;
}
#bigTextName{
    width:100%;
    z-index: 12;
    font-size: 100px;
    margin-top: 0px;
    float:left;
    color: #F4AC3F;
}
#smallText{
    width:70%;
    z-index: 12;
    font-size: 30px;
    margin-top: 20px;
    float:left;
}
#buttonDownloader{
    z-index: 12;
    transition: 0.25s;
    height: 83px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 5px solid #ffffff;
    border-radius: 50px;
    margin-top: 10%;
    font-size: 45px;
    cursor: pointer;
    float:left;
    background: none;
}

.container {
    height: 1200px;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background:linear-gradient(-135deg,rgb(40,38,38) 25%,rgb(0, 0, 0) 100%);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
}
::-webkit-scrollbar-thumb {
    background:#f8ead61d;
    border-radius: 8px;
    
}
::-webkit-scrollbar-thumb:hover {
    background: #F4AC3F;
}


.picRight{
    float:right;
}
.picLeft{
    float:left;
}
.TextZoneLeft{
    float: left;
}
.TextZoneRight{
    float: right;
}
.paragClass{
    width:100%;

}
.topParag{
    margin-top: 15%;
}
.topParagC{
    margin-top: 15%;
    font-size:50px;
    font-weight: bold;
}
#arrowDivDown{
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
}
#AlwaysFade{
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.751);
    z-index: 111;
    display: block;
}
.arrowDiv{
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 9%;
    margin-bottom: 8%;

}
.TextZone{
    width: 39%;
    height: 100%;
    text-align: left;
    font-size: 25px;
    font-family: 'Constantia', sans-serif;
}
.TextZoneC{
    width: 50%;
    /* height: 100%; */
    text-align: left;
    font-size: 25px;
    font-family: 'Constantia', sans-serif;
}
#firstArrow{
    margin-top: -25px;
    float:left;
    position:absolute;

}
.BigText{
    width: 70%;
    height: 150px;
    text-align: left;
    margin-left: 90px;
    font-size: 120px;
    color: #F4AC3F;
    font-family: 'Constantia', sans-serif;

    /* animation:fadeInLeft1 1s ease-in-out; */

}
.BigTextC{
    width: 70%;
    height: 150px;
    text-align: left;
    margin-left: 100px;
    font-size: 120px;
    color: #F4AC3F;
    font-family: 'Constantia', sans-serif;

    /* animation:fadeInLeft1 1s ease-in-out; */

}
#arrowDiv{
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.Zone{
    width: 90%;
    height: 300px;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-top: 50px;
}
.ZoneC{
    width: 79%;
    height:auto;
    justify-content: center;
    align-items: center;
    margin-left:11%;
    margin-top: 5%;
    float:left;
}

.pic{

    width: 45%;
   
}
.pic1{

    width: 33%;
   
}
.anArrow{
    width: 92%;
    height: 50px;
}
#arrowDown{
    width: 100%;
    height: 50px;
    align-items: center;
}
#Zone5{
    height:50px;
    width:100%;
}
#ZoneC6{
    height:50px;
    width:100%;
    margin-left:0px;
}
#arrowRight1{
    float:left;
}
#arrowLeft1{
    float:right;
}
#arrowLeft2{
    float:right;
}
#arrowUp{
    float:left;
}

#bodyabout{
    width:100%;
    float:left;
    color: #ffffff;
    letter-spacing: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: linear-gradient(-135deg,rgb(40,38,38) 25%,rgb(0, 0, 0) 100%)
}

#abt{
margin-left: 0px;
}
.headLink{
z-index: 12;
transition: 0.25s;
height: 100%;
width: 100px;
display: flex; 
justify-content: center;
align-items: center;
margin-left:50px;
float:left;
text-decoration: overline;

}

.headText{
border-bottom: 2px solid #ffffff;
text-decoration: none;
display: inline-block;
vertical-align: top;
}


#creat{
width: auto;
text-decoration: none;
}
.headLink:hover{
background-color: #F4AC3F;
color: #282626;
}


.downloadPic{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lit{

    height: 130%;
    float: left;
    animation:fadeInDown 1s ease-in-out;
}

/* .BigTextAnim{
    animation:fadeInLeft1 1s ease-in-out;
} */
/* @media only screen and (min-device-aspect-ratio: 0.1) and (max-device-aspect-ratio: 0.6) { */
@media only screen and (max-device-aspect-ratio: 9/16) {


    #minilogo{
        width:25%;

    }
    /* #abt{ */
        /* margin-left: -10%; */
        /* margin-right: 5%; */
        /* } */
    .headText{
        border-bottom: 2px solid #ffffff;
        text-decoration: none;
        display: inline-block;
        vertical-align: top;
        }
    .topParagC{
        margin-top: 15%;
        font-size:70px;
        font-weight: bold;
    }
    .paragClass{
        width:112%;
    
    }
    .paragClassC{
        width:150%;
    
    }
    .Zone{
        width: 80%;
        height: auto;
    }
    .ZoneC{
        width: 80%;
        height: auto;
        margin-left: 20%;
    }
    .picRight{
        margin-top: 5%;
        float:none;
    }
    .picLeft{
        margin-top: 5%;
        float:none;
    }
    .TextZoneLeft{
        float: none;
    }
    .TextZoneRight{
        float: none;
    }
    .TextZone{
        width: 90%;
        height: 20%;
        margin-bottom: 5%;
        margin-right: 0%;
        text-align: left;
        font-size: 50px;
        font-family: 'Constantia', sans-serif;
    }
    .TextZoneC{
        width: 50%;
        /* height: 100%; */
        text-align: left;
        font-size: 50px;
        font-family: 'Constantia', sans-serif;
    }
    #CenterZone{
        margin-top: 10%;
        z-index: 12;
        height: 80%;
        width: 80%;
    }
    .headLink{
        width: auto;
        margin-left:50px;
        float:left;
        text-decoration: overline;
        /* font-size: 15px; */
        }
        
    #head{

    background-color: #282626;
    height: 12%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: left;
    font-size: 35px;
    color: #ffffff;
    font-family: 'Constantia', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    background: linear-gradient(-135deg,rgb(40,38,38) 25%,rgb(0, 0, 0) 100%);
    }    


    /* #head{  
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        display: flex;
        justify-content: left;
        color: #ffffff;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        height: 12%;
        font-size: 35px; 
    } */

    #logo{
        width: 60%;
        /* margin-top: 10%; */
        /* margin-left: -25%; */
        height: 60%;
        float:left;  
    }
    #leftText{
        position:fixed;
        z-index:20;
        height: 100%;
        /* width: 95%; */
        justify-content: center;
        align-items: center;
        float: center;

    }

    #rightText{
        display: block;
        animation: none;
    }
    #logoBig{
       display: none
    }
    #logo_bg{
        position:absolute;
        top: 10%;
        left: 0px;
        display: block;
        z-index: 10;
        width: 100%;
        float:right;
    }

    #smallText{
        width:90%;
        font-size: 60px;
        margin-top: 25px;

    }

    #buttonDownloader{
        /* color: #ff0000; */
        width: 110%;
        height: 165px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 10px solid #ffffff;
        border-radius: 100px;
        margin-top: 10%;
        font-size: 60px;
    }


    .BigText{
        width: 70%;
        height: 150px;
        text-align: left;
        margin-top: 25%;
        margin-left: 20px;
        font-size: 120px;
        color: #F4AC3F;
        font-family: 'Constantia', sans-serif;
    
        /* animation:fadeInLeft1 1s ease-in-out; */
    
    }
    .BigTextC{
        width: 90%;
        height: 150px;
        text-align: left;
        margin-top: 25%;
        margin-left: 55px;
        font-size: 120px;
        color: #F4AC3F;
        font-family: 'Constantia', sans-serif;
    
        /* animation:fadeInLeft1 1s ease-in-out; */
    
    }
    
    #buttonDownloader{
        margin-left:-5%;
        margin-top: 50%;
        animation: none;
        
    }
    
    .wave{
        display:none;
    }
    /* #frame{
        transform: rotate3d(0, 0, 1, 90deg);
        width:auto;
        height:90%;
    }
    #whiteSpace{
        height:auto;
        width:auto;
        top:35%;
        left:0%;
    } */
    #content{
        width:100%;
        position: absolute;
        z-index: 111;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .downloadLinkClass{
        width: 65%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        float:none;
        margin:auto;
        margin-top: 5%;
    }

    #frame{
        transform: rotate3d(0, 0, 1, 90deg);
        width:auto;
        height:80%;
    }
    #whiteSpace{
        /* height:auto; */
        width:100%;
        top:25%;
        left:0%;
    }
    #close{
        width:60px;
        height:60px;
        /* position: absolute; */
        top: -40%;
        right: 5%;
        z-index: 112;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #text{
        grid-template-areas: none;
        grid-template-columns: none;
        display: flex;
        flex-direction: column;
    }
    #link1{
        margin:unset;
        margin-top:0%;
        

    }
    #link2{
        margin:unset;
        margin-top:5%;
    }
    #link3{
        margin:unset;
        margin-top:5%;
    }
    #link4{
        margin:unset;
        margin-top:5%;
    }
    #bigTextName{
        width:100%;
        z-index: 12;
        font-size: 180px;
        margin-top: 0px;
        float:left;
        color: #ffffff;
    }
    .pic{

        width: 100%;
       
    }
    .pic1{
    
        width: 70%;
       
    }

}
 @media only screen and (min-device-aspect-ratio: 0.61) and (max-device-aspect-ratio: 1.4) {
    

    .BigText{
        width: 100%;
        height: 66px;
        text-align: left;
        margin-left: 15px;
        font-size: 120px;
        color: #F4AC3F;
        font-family: 'Constantia', sans-serif;
    
    
    }
    .BigTextC{
        width: 85%;
        height: 150px;
        text-align: left;
        margin-left: 55px;
        font-size: 120px;
        color: #F4AC3F;
        font-family: 'Constantia', sans-serif;
    
    
    }
    /* #firstArrow{
        margin-top:-65px;
    }
    .lit{
        height: 90%;
    } */
    #buttonDownloader{
        animation: none;
        
    }
    
    .wave{
        display:none;
    }


}
